.navbar {
    background-color: #FFFFA0;
}

.catalog {
    padding: 20px;
}

.orders {
    padding: 20px;
}

.card-body-order {
    margin: 5px;
    height: 40px;
    max-width: 50px;
}

.card-number-catalog {
    width: 50px;
}

.card-buy-catalog {
    padding: 5px;
}

.card-body-catalog {
    margin: 5px;
    height: 250px;
}

.card-control-catalog {
    padding: 10px;
}

.card-number-catalog,  .card-number-order{
    border-radius: 3px;
}

.card-title-catalog, .card-subtitle-catalog, .card-text-catalog,
 .card-text-order, .card-subtitle-order, .card-title-order {
    padding: 5px;
}

.dropdown-toggle {
  background-color: #ffec8e;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-menu {display: block;}