.navbar {
    background-color: #FFFFA0;
}

.catalog {
    padding: 20px;
}

.card-number {
    width: 50px;
}

.card-buy {
    padding: 5px;
}

.card-body {
    margin: 5px;
    height: 250px;
}

.card-control {
    padding: 10px;
}

.card-number {
    border-radius: 3px;
}

.card-title, .card-subtitle, .card-text, .card-text {
    padding: 5px;
}

.dropdown-toggle {
  background-color: #ffec8e;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
}

.dropdown-menu a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-menu {display: block;}