<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light" style="background-color: #FFFFA0;">
            <h1 class="navbar-brand">
                Название сервиса
            </h1>
            <h3 class="navbar-brand">Сервис по доставке еды</h3>
            <form action="" method="post">
                <div>
                    {{ search_form.search }}
                </div>
            </form>
            <p>
                <a class="btn btn-outline-success" href="/register">Register</a>
                <a class="btn btn-outline-warning" href="/login">Log in</a>
            </p>
        </nav>
    </header>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>