{% extends "base.html" %}

{% block content %}
<h1>
    {{ current_user.name }} {{ current_user.surname }}
</h1>
<h3>
    Адрес эл. почты: {{ current_user.email }}
</h3>
<h3>
    Адрес проживания: {{ current_user.address }}
</h3>
{% if current_user.card_number != None %}
<h3>
    Номер банковской карты: {{ current_user.card_number }}
</h3>
{% endif %}
<a class="btn btn-outline-info" href="/edit">Редактировать</a>
<a class="btn btn-outline-warning" href="/change_password">Сменить пароль</a>
{% endblock %}